*{
   margin:0%;
   padding:0%;
   box-sizing: border-box; 
}
:root{
    --bg-color:#274c43;
    --yellow:#f9f8ae;
    --pink:pink;
    --white:rgba(255,255,255,.8);
}
@font-face {
    font-family: appFont;
    src: url("../fonts/Very Simple Chalk.ttf");
}
/**** page container ****/
.pageContainer{
    background-color: var(--bg-color);
    height:100vh;
    width: auto; 
    display:grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 100%;
}
#tripleHeaderContainer{
    grid-row: 1/2;
}
#footerContainer{
    grid-row: 5;
}
/**** TRIPLE HEADER ****/
#tripleHeaderContainer{
    font-family:appFont;
    background-color: var(--bg-color);
    grid-row: 1/2;
    color: var(--white);
    font-size: 05px;
    letter-spacing: 12px;
    padding-left:20px;
    padding-top:20px;   
    display:flex;
    flex-direction:column; 
}
.header{
    padding-bottom: 20px;
    align-self: flex-end;
}
/**** SINGLE ****/
#headerContainer{
    font-family:appFont;
    background-color: var(--bg-color);
    color: var(--white);
    font-size: 14px;
    letter-spacing: 12px;
    display:flex;
    justify-content:flex-start;
    align-items: flex-end; 
}
/**** FOOTER ****/
#footerContainer{
    font-family:appFont;
    color: var(--white);
    background-color: var(--bg-color);
    font-size: 14px;
    letter-spacing: 12px;
    display:flex;
    justify-content:flex-start;
    align-items: flex-end; 
}
/**** BUTTON ****/
#buttonContainer{
    padding-top: 50px;
}
button {
    border-color:transparent;
    background-color: transparent;
    font-family: appFont;
    font-size:30px;
    color: rgba(255,255,255,.8);
  }
  button:active{
    color: var(--pink)
  }
  button:hover{
    box-shadow: 0px 0px 30px 0px;
    
  }