*{
    margin:0%;
    padding:0%;
    box-sizing: border-box; 
 }
 #tripleHeaderContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
 }
 #header1{
    align-self: flex-end;
 }
 #header2{
    align-self: flex-end;
 }
 /**nav**/
 #linkContainer{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    font-size: 23px;
   }
   .navLinks{
   color: var(--white);
   text-decoration: none;
 }
 /**recipe**/
 #recipeContainer{
  background-color: var(--bg-color);
   height: 100%;
   font-size:15px;
   letter-spacing:6px;
   border-bottom: 2px solid var(--white);
   overflow-x: hidden;
   overflow-y: auto;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
 }
 #recipeContainer div:hover{
  background-color: var(--white);
   height: 100%;
   font-size:15px;
   letter-spacing:6px;
   border-bottom: 2px solid var(--white);
   overflow-x: hidden;
   overflow-y: auto;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
 }
 #recipeContainer div h1:hover{
 color:var(--bg-color);
 }

#titleContainer{
  background-color: var(--bg-color);
   width: 100%;
   color:var(--white);
   font-size: 30px;
   overflow: hidden;
   overflow-wrap: break-word;
   display: flex;
   flex-direction: row;
   letter-spacing:6px;
   justify-content:flex-start;
   padding-left: 15px;
 } 

 #titleContainer:hover{
  background-color: var(--white);
  width: 100%;
  color:var(--bg-color);
   font-size: 30px;
   overflow: hidden;
   overflow-wrap: break-word;
   display: flex;
   flex-direction: row;
   letter-spacing:6px;
   justify-content:flex-start;
   padding-left: 15px;

 }
 #chai{
  background-color: var(--bg-color);
  display:flex;
  flex-direction:row;
  align-items: flex-end;
  justify-content: space-evenly;
  width:100%;
  font-size: 24px;
 }
 #chai p:hover{
  background-color: var(--white);
  color:var(--bg-color);
  display:flex;
  flex-direction:row;
  align-items: flex-end;
  justify-content: space-evenly;

  font-size: 24px;
 }
::-webkit-scrollbar{
  display:none;
}